[Unit]
Description=Config tracker timer for %i

[Timer]
OnBootSec=1min
OnUnitActiveSec=15min
Unit=config-tracker@%i.service

[Install]
WantedBy=timers.target
